body.html{ /*temporary*/
	font-family: 'PT Sans Narrow';
	color:#303030;
	background: #fff;
}
/*Общие*/
h1,h2,h3{
	font-family: 'PT Sans Narrow';
}
h1{
	font-size:48px;
	font-weight:normal;
	color:#281403;
	margin-bottom:0;
}
 @font-face {
font-family: 'PT Sans Narrow';
font-style: normal;
font-weight: normal;
src: local('PTSansNarrow'), url('font/PTSansNarrow.woff') format('woff'),
 url('font/PTSansNarrow.eot') format('eot'),
 url('font/PTSansNarrow.ttf') format('ttf');
}
p, div{
	color:#281403;
	font-size:16px;
	font-family: 'PT Sans Narrow';
}
a {
	color: #281403;
	font-family: 'PT Sans Narrow';
}
a:hover{
	color: #df0036;
}
/*	/Общие*/
.content-wrapper{
	background: #fff;
}
.one-sidebar  .content-wrapper .content{

	float: left;
}
.one-sidebar  .content-wrapper .content .region-content{
	min-height:540px;
}
#backtotop{
	width: 58px;
	height:58px;
	background: url(img/up.png) 0 0 no-repeat;
}
#backtotop:hover{
	background: url(img/up.png) 0 -58px no-repeat;
}
/*Шапка*/
.head{
	font-family: 'PT Sans Narrow';
}
.head-top{
	min-width:1000px;
	position: relative;
	z-index:100;
	width:100%;
	padding:15px 0;
}
.head-box{
	overflow: hidden;
	position: relative;
}
.site_info{
	left: 160px;
    float:left;
    text-align: center;
    top: 0px;
    width: 218px;
    z-index: 100;
}
#block-ds-blocks-phone{
 	padding-top:7px; 
	width:175px;
	float:right;
	text-align:right;
}
#block-ds-blocks-schedule{
	background:#303030;
	padding:3px 12px 3px 0;
	width:150px;
	float:right;
	text-align:right;
	margin-top:5px;
}
#block-ds-blocks-schedule p{
	color: #fff;
	font-size:18px;
}
#block-ds-blocks-phone h2{
	font-size: 24px;
	font-weight:normal;
	margin-bottom:0;
	line-height:1;
}
#block-ds-blocks-phone .content p{
	font-family: 'PT Sans Narrow';
	font-size:30px;
	color:#303030;
	line-height:1;
}
#block-ds-blocks-phone .content span{
	font-size:24px;
	margin-right:10px;
}
/*	/Шапка*/
/*Главное меню*/
#block-system-main-menu{
 	margin: 0px 40px 0 145px; 
	width:415px;
	padding-top:35px;
	float:left;
	height:50px;
}
#block-system-main-menu ul.menu #right{
	margin-left: 220px;
}
#block-system-main-menu li{
	margin: 0;
	padding:0;
}
#block-system-main-menu li:after{
	content: "|";
	font-size: 18px;
	float:right;
}
#block-system-main-menu li.last:after,
#block-system-main-menu .menu li.active-trail:after{
	display:none;
}
#block-system-main-menu .menu li a{
	color: #303030;
	font-size:18px;
	text-decoration: none; 
	font-family: 'PT Sans Narrow';
	padding: 5px 12px;
	
}
#block-system-main-menu .menu li a:hover,
#block-system-main-menu .menu li a.active{
	color: #fff;
	background:#f24941;
}
/*	/Главное меню*/
/*Слайдер*/
#block-views-special-offers-block-1{
	margin-top:25px;
}
#block-views-special-offers-block-1 #views_slideshow_cycle_main_special_offers-block_1 img{
	border: 1px solid #e3e3e3;
}
#block-views-special-offers-block-1 .views-slideshow-controls-text{
	text-align:center;
	margin-top:20px;
}
#block-views-special-offers-block-1 .views-slideshow-controls-text-previous a,
#block-views-special-offers-block-1 .views-slideshow-controls-text-next a{
	display:inline-block;
	height:31px;
	width:32px;
	background:url(img/arrows.png) no-repeat;
	text-indent:999999px;
}
#block-views-special-offers-block-1 .views-slideshow-controls-text-previous a{
	background-position: 0 0; 
	margin-right:20px;
}
#block-views-special-offers-block-1 .views-slideshow-controls-text-previous a:hover{
	background-position: 0 -31px;
}
#block-views-special-offers-block-1 .views-slideshow-controls-text-next a{
	background-position: -32px 0; 
}
#block-views-special-offers-block-1 .views-slideshow-controls-text-next a:hover{
	background-position: -32px -31px;
}
#block-views-special-offers-block-1 .views-slideshow-controls-text-pause{
	display:none;
}
/*	/Слайдер*/
/*Корзина*/
#block-block-6{
	overflow:hidden;
}
#block-commerce-cart-cart,
#block-commerce-cart-cart-empty{
	font-family: 'PT Sans Narrow';
	position: relative;
}
.cart-items-wrapper {
	overflow: hidden;
}
.block-commerce-cart{
	border:none;
	min-height:335px;
	width: 229px;
}
#block-commerce-cart-cart-sticky-wrapper {
	position:relative;
	z-Index:50;
}
#block-commerce-cart-cart-empty.empty{
	min-height:115px;
	width: 229px;
	background-color:#f0f0f0;
}
#block-commerce-cart-cart .view-commerce-cart-block .view-content {
	width: 229px;
}
#block-commerce-cart-cart .view-commerce-cart-block .view-content .attachment {
	display: none;
}
.view-commerce-cart-block .view-header,
#block-commerce-cart-cart-empty .cart-block-cart-image {
	background: url(img/c_i.png) top center no-repeat;
	padding-top:24px;
	text-align:center;
}
.cart-block-title{
	font-size:24px;
	border-bottom:1px solid #fff;
	padding-bottom:10px;
	text-align:center;
}
.view-commerce-cart-block .view-header  .line-item-summary,
#block-commerce-cart-cart-empty .line-item-summary{
	text-align:center;
	padding-top:10px;
}
.view-commerce-cart-block  .line-item-summary a,
#block-commerce-cart-cart-empty .line-item-quantity,
.view-commerce-cart-block  .line-item-summary .final-price,
#block-commerce-cart-cart-empty .line-item-summary .final-price{
	display:inline;
	float:none;
	font-size:18px;
}
.cart-contents .line-item-summary-contents,
#block-commerce-cart-cart-empty .line-item-summary-contents{
	font-size:18px;
} 
.view-commerce-cart-block  .line-item-summary .final-price,
#block-commerce-cart-cart-empty .line-item-summary .final-price{
	font-weight:bold;
	color:#f24941;
}
.view-commerce-cart-block,
#block-commerce-cart-cart-empty{
	background: #f0f0f0;
	border-top:5px solid #000;
}
.view-commerce-cart-block .views-row{
	position: relative;
	overflow:hidden;
	clear:both;
	padding:12px;
	border-top:1px solid #fff;
	height:110px;
	overflow:hidden;
}
.view-commerce-cart-block .views-row.views-row-first{
	border-top: none;
	height:111px;
}
.view-commerce-cart-block .views-field-field-picture{
	float:left;
}
.view-commerce-cart-block .views-field-field-picture img{ /*картинки в корзине*/
	border-radius:50%;
	border: 3px solid #ccc;
}
.view-commerce-cart-block .views-field-quantity{
	left: 80px;
	top: 75px;
	background-color: #f24941;
    border: 2px solid #fff;
}
.view-commerce-cart-block .views-field-quantity .field-content {
    top: 7px;
    left: 12px;
	line-height:0.9;
	width:15px;
	color:#fff;
	font-size:12px;
}
.view-commerce-cart-block .views-field-line-item-title{
	margin-top:10px;
}
.view-commerce-cart-block .views-field-line-item-title,
.view-commerce-cart-block .views-field-commerce-total{
	float: left;
    font-size: 18px;
    text-align: left;
    width: 75px;
	margin-left:10px;
/*	text-decoration:underline; */
}
.view-commerce-cart-block .views-field-commerce-total div{
	color:#ff3333;
	font-weight:bold;
	font-size: 18px;
}
#block-commerce-cart-cart .view-commerce-cart-block .views-field-edit-delete{
	left:10px!important;
	top:10px!important;
}
.commerce-line-item-views-form input.delete-line-item {
	width: 16px;
	height:16px;
	background:url("img/delete.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	border:none;
	outline:none;
	text-indent:99999px;
}
.commerce-line-item-views-form input.delete-line-item:hover {
	background:url("img/delete.png") no-repeat scroll -16px 0 rgba(0, 0, 0, 0)
}
#views-form-commerce-cart-block-default{
	width: 225px!important;
	text-align: center;
	padding-bottom:10px;
}
#block-commerce-cart-cart-empty .banner{
	display:none;
}
#block-commerce-cart-cart .line-item-summary .checkout-button,
#block-commerce-cart-cart-empty .checkout-button{
	background: #cc0000;
    border: medium none;
    color: #fff;
	font-family: 'PT Sans Narrow';
    font-size: 18px;
    font-style: normal;
    padding: 6px 20px;
	cursor:pointer;
	text-transform:uppercase;
	opacity:0.8;
	display:block;
	width: 155px;
	text-align:center;
	margin:0 auto;
	text-decoration: none;
}
#block-commerce-cart-cart .line-item-summary .checkout-button:hover{
	opacity:1;
}
#block-commerce-cart-cart .commerce-line-item-views-form .line-item-summary{
	padding:1em 0;
	border-top: 1px solid #fff;
	background:#f0f0f0;
}
#block-commerce-cart-cart-empty .checkout-button,
.page-checkout- #block-commerce-cart-cart .line-item-summary .checkout-button,
#block-commerce-cart-cart.block-commerce-cart-empty,
#block-commerce-cart-cart .disabled {
	display:none;
}
.cart-carousel-prev{
	position:absolute;
	top:110px;
	left:45%;
	width:31px;
	height:32px;
	background:  url(img/cart_sprite.png) 0 0px no-repeat; 
	text-indent:99999px;
}
.cart-carousel-prev:hover{
	background-position: 0 -34px; 
}
.cart-carousel-next{
	position:absolute;
	top:412px;
	left:45%;
	width:31px;
	height:32px;
	background:  url(img/cart_sprite.png) 0 -102px no-repeat;
	text-indent:99999px;
}
.cart-carousel-next:hover{
	background-position: 0 -67px;
}
#block-commerce-cart-cart .throbber{
	display:none;
}
/*	/Корзина*/
/*Меню каталога*/
#block-menu-catalog-menu{
	border-top:5px solid #000;
	overflow:hidden;
}
#block-menu-catalog-menu li.leaf{
    list-style: none;
    list-type: none;
}
#block-menu-catalog-menu ul.menu li.last a{
/* 	width:108px; */
}
#block-menu-catalog-menu ul.menu li{
	float:left;
	padding:0;
	margin:0;
	background:url(img/menu_divider.png) top right no-repeat #f0f0f0;
}
#block-menu-catalog-menu ul.menu li a{
	color:#303030;
	font-size:23px;
	text-decoration:none;
	display: block;
	padding:15px;
	width:95px;
	text-align:center;
	line-height:1;
    list-style: none;
}
#block-menu-catalog-menu ul.menu li.active-trail a ,
#block-menu-catalog-menu ul.menu li:hover a{
	color:#fff;
	background-color:#f24941;
}
#block-menu-catalog-menu ul li.active-trail a{
	background:url(img/menu_active.png) top center no-repeat
}
/* 	/Меню каталога*/
/*Заголовок*/
.page-title .head-box{
	overflow:visible;
}
.page-title h1{
	font-size:24px;
	text-transform: uppercase;
	color:#f24941;
	margin:15px 0;
}
/*	/Заголовок*/
/*Каталог*/
.view-catalog{
	width:740px;
	border-left:1px solid #dfdfdf; 
	overflow:hidden;
}
.view-catalog .views-row{
	position: relative;
	float:left; 
	width: 245px;
	border-top:1px solid #dfdfdf; 
	border-right:1px solid #dfdfdf; 
	height: 420px;
	padding-top:7px
}
.view-catalog.view-display-id-page .views-row:nth-last-child(-n+3){
	border-bottom:1px solid #dfdfdf; 
}
.view-catalog .views-row .views-field-edit-node{
	position:absolute;
	top:10px;
	z-index:10;
	left:10px;
}
.view-catalog .views-row .tag-value-perchik{
	width:46px;
	height:20px;
	background: url(img/pepper.png) 0 0 no-repeat;
	text-indent:-9999999px;
	position: absolute;
	right:0;
	top:5px;
}
.view-catalog .views-row .views-field-field-picture img{
	display:block;
	margin:0 auto;
}
.view-catalog .views-row .views-field-title {
	font-size:18px;
	text-decoration:none;
	color:#000;
	margin-bottom:10px;
	font-weight:bold;
}
.view-catalog .views-row  .views-field-field-marker ul li{
	margin-left:0;
	color:#9cc948;
	font-size:16px;
	font-weight:bold;
	margin-top:7px;
}
.view-catalog .views-row  .views-field-field-descr,
.view-catalog .views-row  .views-field-field-consist{
	font-size:16px;
}
.view-catalog .views-row  .views-field-commerce-price,
.view-catalog .views-row .views-field-field-weight,
.view-catalog .views-row  .views-field-commerce-price div,
.view-catalog .views-row .views-field-field-weight div{
	display:inline;
}
.view-catalog .views-row  .views-field-commerce-price div{
	font-size: 24px;
	color:#cc0000;
}
.view-catalog  .views-field-add-to-cart-form  input.form-submit,
.view-catalog.view-display-id-page_inline_ent .field-type-commerce-product-reference .form-submit{
	background: #cc0000;
    border: medium none;
    color: #fff;
	font-family: 'PT Sans Narrow';
    font-size: 18px;
    font-style: normal;
    padding: 6px 20px;
	cursor:pointer;
	text-transform:uppercase;
	opacity:0.8;
	position:absolute;
	bottom:15px;
}
.view-catalog  .views-field-add-to-cart-form  input.form-submit:hover,
.view-catalog.view-display-id-page_inline_ent .field-type-commerce-product-reference .form-submit:hover{
	opacity:1;
}
.view-catalog.view-display-id-page .views-row .views-field-title,
.view-catalog.view-display-id-page .views-row  .views-field-field-marker,
.view-catalog.view-display-id-page .views-row .views-field-field-descr,
.view-catalog.view-display-id-page .views-row .views-field-field-consist{
	margin:0 15px;
}
.view-catalog .views-row  .views-field-commerce-price{
	margin-left:15px;
}
.view-catalog .views-row  .views-field-add-to-cart-form{
	margin-left:15px;
	position:relative;
	height:100px;
}
.view-catalog  .views-field-add-to-cart-form .form-item-quantity,
.view-display-id-page_inline_ent .field-name-field-product .form-item-quantity{
	bottom: 50px;
    position: absolute;
    width: 70px;
	margin-left:7px;
}
.view-catalog  .views-field-add-to-cart-form .form-item-quantity label,
.view-display-id-page_inline_ent .field-name-field-product .form-item-quantity label{
	display:none;
}
.view-catalog  .views-field-add-to-cart-form .form-item-quantity .commerce-quantity-plusminus-link a.button,
.view-display-id-page_inline_ent .field-name-field-product .form-item-quantity .commerce-quantity-plusminus-link a.button{
	font-size:14px;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
	line-height: 1;
    padding: 1px 4px;
	background: #333333;
	position: absolute;
    top: 5px;
    z-index: 10;
	min-width:9px;
	border-radius:0;
	opacity:0.9;
}
.view-catalog .views-field-add-to-cart-form .form-item-quantity .commerce-quantity-plusminus-link a.button:hover,
.view-display-id-page_inline_ent .field-name-field-product .form-item-quantity .commerce-quantity-plusminus-link a.button:hover{
	opacity:1;
}
.commerce-quantity-plusminus-link.commerce-quantity-plusminus-link-decrease a{
	left: -7px;
}
.commerce-quantity-plusminus-link.commerce-quantity-plusminus-link-increase a{
	left: 43px;
}
.view-catalog .views-field-add-to-cart-form .form-item-quantity input.form-text,
.view-display-id-page_inline_ent .field-name-field-product .form-item-quantity  input.form-text{
	border-radius: 0px;
    border: 1px solid #ccc; 
    height: 22px;
    text-align: center;
    width: 50px;
	color:#000;
	font-size:16px;
}
/*	/Каталог*/
/*наборы*/
.view-catalog.view-display-id-page_inline,
.view-catalog.view-display-id-page_inline_ent{
	border-left:none;
}
.view-display-id-page_inline .views-row,
.view-catalog.view-display-id-page_inline_ent .views-row{
	float:none;
	width:718px;
	overflow:hidden;
	border:1px solid #dfdfdf;
	border-bottom:none;
	height:100%;
	padding: 10px;
}
.view-display-id-page_inline .views-row.views-row-last,
.view-catalog.view-display-id-page_inline_ent .views-row.views-row-last{
	border-bottom:1px solid #dfdfdf;
}
.view-display-id-page_inline .views-row .views-field-field-picture,
.view-catalog.view-display-id-page_inline_ent .img-left{
	 float:left;
	 padding-right:62px;
	 background:url(img/border.png) 245px center no-repeat;
}
.view-catalog.view-display-id-page_inline  .views-row .views-field-nothing{
	float:left;
	width:435px;
}
.view-catalog.view-display-id-page_inline  .views-row .views-field-field-consist{
	overflow:hidden;
	margin-bottom:5px;
}
.view-catalog.view-display-id-page_inline  .views-row .views-field-field-consist ul li{
	float:left;
	width:33%;
	font-size:16px;
}
.view-display-id-page_inline .views-row .views-field-add-to-cart-form{
	height:60px;
	margin-left:0;
}
.view-display-id-page_inline .views-row .views-field-commerce-price{
	margin-left:0;
}
.view-display-id-page_inline .views-row .views-field-add-to-cart-form  input.form-submit{
	left:0px;
	bottom:10px;
}
.view-display-id-page_inline .views-row  .views-field-add-to-cart-form .form-item-quantity{
	left:160px;
	bottom:47px;
}
/*Пицца*/
.view-catalog.view-display-id-page_inline_ent  .all_except_img{
	float:left;
	width:435px;
	position:relative;
}
.view-catalog.view-display-id-page_inline_ent  .all_except_img h2{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.view-catalog.view-display-id-page_inline_ent  .all_except_img  .form-item-product-id .rub,
.view-catalog.view-display-id-page_inline_ent  .all_except_img  .field-name-commerce-price .field-item{
	font-size: 24px;
	color:#cc0000;
}
.view-catalog.view-display-id-page_inline_ent  .all_except_img  .field-name-commerce-price .field-label{
	display:none;
}
.view-catalog.view-display-id-page_inline_ent .field-type-commerce-product-reference .form-submit{
	left:80px;
	position:relative;
	bottom:0;
	margin:10px 0;
}
.view-display-id-page_inline_ent .field-name-field-product .form-item-quantity{
	bottom:0px;
}
.view-display-id-page_inline_ent .field-name-field-product input.form-radio{
	margin-left:0;
}
/*	/Каталог*/
/*Подвал*/
#footer{
	margin-top:20px;
}
.wrapper-footer_empty{
	height:0px;
}
.footer-box{
	padding: 25px 0 35px;
	border-top: 1px solid #cdcdcd;
}
#footer p,
#footer a{
	color: #000;
	font-size:16px;
}
#block-ds-blocks-contact-info{
	float:left;
	min-width: 240px;
}
#block-ds-blocks-copyright{
	width:160px;
	float: left;
	margin:0px 0 0 240px ;
}
#block-ds-blocks-developer{
	float:right;
}
/*Акции и скидки*/
.view-special-offers.view-display-id-page{
	overflow:hidden;
	border-left:1px solid #dfdfdf;
}
.view-special-offers.view-display-id-page .views-row{
	float:left;
	width:33%;
	border-top:1px solid #dfdfdf; 
	border-right:1px solid #dfdfdf; 
	padding: 8.5px 0;
}
.view-special-offers.view-display-id-page .views-row:nth-last-child(-n+3){
	border-bottom:1px solid #dfdfdf; 
}
.view-special-offers.view-display-id-page .views-row img{
	display:block;
	margin:0 auto;
}
/*Акция внутренняя*/
.node-type-slider #block-system-main .field-name-field-photo{
	margin-right:40px;
}
.node-type-slider #block-system-main .field-name-field-photo,
.node-type-slider #block-system-main .field-name-body{
	float:left;
}
.node-type-slider #block-system-main .field-name-body{
	width:450px;
}
/*Отзывы*/
.page-node-277 #block-system-main .ui-tabs-nav{
	border:none;
	background:none;
}
.page-node-277 #block-system-main .ui-tabs-nav a{
	font-size:18px;
}
.page-node-277 #block-system-main .ui-corner-all{
	border-radius:0;
	border:none;
}
.page-node-277 #block-system-main .ui-tabs-panel{
	border-top:1px solid #aaa;
}
/*	/Отзывы*/
/*О компании*/
#block-system-main p{
	margin-top:5px;
    margin-bottom:10px;
}
#block-system-main strong{
	font-weight:bold;
}
/*Оплата и доставка*/
#block-system-main table{
	color:#333;
	font-size:16px;
	width:740px;
	margin-top: 20px;
}
#block-system-main tr td {
    border: none;
    text-align: left;
	padding: 5px 10px;
	vertical-align:middle;
}
#block-system-main tr:nth-child(2n){
		background: #f0f0f0;
	} 
#block-system-main table tr:first-of-type{
	font-weight:bold;
}
#block-system-main tr td:nth-child(2),
#block-system-main tr th:nth-child(2){
	text-align:center;
}
#block-system-main h2{
	color: #482e1f;
    font-family: "PT Sans Narrow",sans-serif,PT Sans Narrow,Arial Narrow,Arial;
    font-size: 24px;
    padding: 15px 0;
	margin-bottom: 0;
}
#block-system-main span{
	font-size:18px;
	display:block;
	margin-top:15px;
}
/*Оформление заказа*/
.page-checkout #block-system-main{
	color:#ccc;
	font-size:16px;
}
.page-checkout #commerce-checkout-form-checkout  #edit-buttons .checkout-continue{
	background: #cc0000;
	color:#fff;
	border:none;
	outline:none;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-style: normal;
    padding: 5px 23px 6px;
    text-transform: uppercase;
	opacity:0.9;
}
.page-checkout #commerce-checkout-form-checkout  #edit-buttons .checkout-continue:hover{
	opacity:1;
}
.page-checkout #commerce-checkout-form-checkout  #edit-buttons #edit-cancel{
	text-decoration:underline;
	color:#cc0000;
}
.page-checkout #commerce-checkout-form-checkout  #edit-buttons #edit-cancel:hover{
	text-decoration:none;
	color:#df0036;
}
.page-checkout #block-system-main .fieldset-legend{
	display:none;
}
.page-cart .view-commerce-cart-form table{
	width:100%;
}
.page-cart .view-commerce-cart-form table th{
	border: none;
	border-bottom: 1px solid #f2e9e0;
}
.page-cart .view-commerce-cart-form table tr.even,
.page-cart .view-commerce-cart-form table tr.odd{
	background:none;
	border: none;
	border-bottom: 1px solid #f2e9e0;
	padding: 3px 0;
}
.page-cart .view-commerce-cart-form table tr td{
	padding: 5px 0;
}
.page-cart .view-commerce-cart-form table tr:hover{
	background:#f3e9e0;
}
.page-cart .view-commerce-cart-form .views-field-edit-delete{
	text-align:center;
}
.page-cart .view-commerce-cart-form .views-field-commerce-total{
	text-align:right;
}
.page-cart .view-commerce-cart-form .views-field-edit-quantity a {
	text-decoration: none;
	outline: none;
}
.page-cart .view-commerce-cart-form .views-field-edit-quantity a:hover {
	text-decoration: none;
	outline: none;
	background: none;
}
.page-cart .view-commerce-cart-form .views-field-edit-quantity input{
	text-align:center;
}
.page-cart .view-commerce-cart-form .final-price{
	color: #df0036;
    font-size: 16px;
    font-weight: bold;
	margin-top:10px;
}
.page-cart .view-commerce-cart-form #edit-checkout {
	float: left;
	background: url("img/buttons.png") no-repeat scroll 0 0px rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 5px;
    color: #fff;
	font-family: 'PT Sans Narrow';
    font-size: 16px;
    font-style: normal;
    padding: 11px 5px 22px;
	cursor:pointer;
	text-transform:uppercase;
}
.page-cart .view-commerce-cart-form #edit-checkout:hover{
	background: url("img/buttons.png") no-repeat scroll 0 -55px rgba(0, 0, 0, 0);
}
.page-cart .view-commerce-cart-form #edit-submit{
	border:none;
	outline: none;
	background:none;
	color: #281403;
    font-family: "AG_helvetica";
	text-decoration:underline;
	cursor: pointer;
}
.page-cart .view-commerce-cart-form #edit-submit:hover{
	text-decoration:none;
	color: #df0036;
}
/* Интерфейс администратора */
.content-box ul.tabs.primary li a {
	color: black;
	border-bottom: 1px solid #ddd;
}
/* /Интерфейс администратора */
.ajax-progress .throbber{
	background:url("img/throbber.gif") no-repeat scroll 0 0 transparent;
}
/*Colorbox*/
#colorbox{
	border-radius:5px;
}
#cboxOverlay{
	opacity:0.5!important;
}
#cboxLoadedContent{
	background:#fff;
}
#cboxLoadedContent h2{
	color: #a9d87a;
}
#cboxLoadedContent p{
	font-size:16px;
}
#cboxClose{
	opacity:0.7!important;
}
#cboxClose:hover{
	opacity:1!important;
}