.node-noodle .field-name-field-product {
    border: 1px solid #ddd;
    position: relative;
}
.node-noodle #edit-line-item-fields {
    overflow: hidden;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;    
}
.node-noodle #edit-line-item-fields .form-wrapper {
    width: 212px;
    height: 400px;
    float: left;
    border-right: 1px solid #ddd;
    padding: 0 16px;
    position: relative;
}
.node-noodle #edit-line-item-fields #edit-line-item-fields-field-noodle-sause {
    border: none;
}
.node-noodle #edit-line-item-fields .form-type-radios,
.node-noodle #edit-line-item-fields .form-type-checkboxes {
    margin: 0;
}
.node-noodle #edit-line-item-fields .form-type-radios > label,
.node-noodle #edit-line-item-fields .form-type-checkboxes > label {
    font-weight: bold;
    font-size: 18px;
    padding: 0 3px 6px;    
}

.node-noodle #edit-line-item-fields .form-checkbox,
.node-noodle #edit-line-item-fields .form-radio {
    float: left;
}
.node-noodle #edit-line-item-fields .form-type-checkbox label, 
.node-noodle #edit-line-item-fields .form-type-radio label {
    width: 180px;
    display: block;
    float: left;
    position: relative;
    padding: 0px 0px 0px 10px;
    top: -2px;    
    height: 34px;
    font-size: 16px;
}
.node-noodle #edit-line-item-fields .form-type-checkbox .price,
.node-noodle #edit-line-item-fields .form-type-radio .price {
    position: absolute;
    right: 0px;
    color: #cc0000;
    font-weight: bold;    
}
.node-noodle #edit-line-item-fields .description {
    color: #F24941;
    position: absolute;
    bottom: 0;
    height: 40px;
}

.node-noodle #fake-price {
    padding: 18px 40px 14px;
}

.node-noodle #fake-price .price {
    color: #cc0000;
    font-size: 26px;
}

.node-noodle .commerce-add-to-cart .form-item-quantity{
	bottom: 4px;
    right: 300px;
    position: absolute;
    width: 70px;
	margin-left:7px;
}
.node-noodle .commerce-add-to-cart .form-item-quantity label{
	display:none;
}
.node-noodle .commerce-add-to-cart .form-item-quantity .commerce-quantity-plusminus-link a.button{
	font-size:14px;
	text-decoration:none;
	color:#fff;
	font-weight:normal;
	line-height: 1;
    padding: 1px 4px;
	background: #333333;
	position: absolute;
    top: 5px;
    z-index: 10;
	min-width:9px;
	border-radius:0;
	opacity:0.9;
}
.node-noodle .commerce-add-to-cart .form-item-quantity .commerce-quantity-plusminus-link a.button:hover{
	opacity:1;
}
.commerce-quantity-plusminus-link.commerce-quantity-plusminus-link-decrease a{
	left: -7px;
}
.commerce-quantity-plusminus-link.commerce-quantity-plusminus-link-increase a{
	left: 43px;
}
.node-noodle .commerce-add-to-cart .form-item-quantity  input.form-text{
	border-radius: 0px;
    border: 1px solid #ccc; 
    height: 22px;
    text-align: center;
    width: 50px;
	color:#000;
	font-size:16px;
}

.node-noodle .commerce-add-to-cart .form-submit{
	background: #cc0000;
    border: medium none;
    color: #fff;
	font-family: 'PT Sans Narrow';
    font-size: 18px;
    font-style: normal;
    padding: 6px 20px;
	cursor: pointer;
	text-transform: uppercase;
	opacity: 0.8;
	position: absolute;
	bottom: 15px;
    right: 40px;
}
.node-noodle .commerce-add-to-cart .form-submit:hover{
	opacity: 1;
}

/* Cart */

#dc-als-cart-form-wrapper .views-field.views-field-nothing {
    float: left;
    text-align: left;
    width: 75px;
    margin-left: 10px;
    max-height: 55px;
    overflow: hidden; 
}

#dc-als-cart-form-wrapper .views-field.views-field-nothing .containts {
    font-size: 10px;   
}