<p>
    <strong>Компания ФилаМания создана группой людей, считающих, что ролл Филадельфия - это самый вкусный ролл в мире!&nbsp;</strong>
</p>
<p>
    Однажды вечером, наслаждаясь любимым роллом Филадельфия, мы решили, что хотим создать ресторан доставки вкусной и полезной японской кухни, где будет 10 видов нашего любимого ролла Филадельфия!
</p>
<p>
    Мы считаем, что японская кухня - это часть жизни современного человека, поэтому мы осуществляем доставку свежей, только что приготовленной продукции к Вам в офис, домой или на дачу.
</p>
<p>
    <em>Если у Вас возникли какие-либо идеи, или у Вас есть предложения к нам, мы с удовольствием ответим по тел.
        <span>(3952) 61-83-61</span>
    </em>
</p>
<p>
    <strong><span>Наши партнеры:</span></strong>
</p>
<div>
    <a href="http://als-studio.ru/">als-studio.ru</a> - Доставка готовых инсталляций прямо на дом
</div>