<h2>Стоимость доставки в районы:</h2>
<table>
    <tbody>
    <tr>
        <td><strong>Район доставки</strong></td>
        <td><strong>Условия платной доставки</strong></td>
        <td><strong>Доставка бесплатная</strong></td>
    </tr>
    <tr>
        <td><p>Ново-Ленино</p><p>Иркутск-2</p><p>п. Западный</p><p>п.Южный</p></td>
        <td>При сумме заказа от 0-300 руб. - доставка 100 руб.</td>
        <td>При сумме заказа от 300 руб.</td>
    </tr>
    <tr>
        <td><p>Мамоны</p><p>пос. Кировский</p><p>пос. Горького</p><p>Селиваниха</p><p>Жилкино</p><p>6-я Пятилетка</p></td>
        <td>При сумме заказа от 0-500 руб. - доставка 150 руб.</td>
        <td>При сумме заказа от 500 руб.</td>
    </tr>
    <tr>
        <td><p>Центр</p><p>Марата</p><p>Батарейная</p><p>Глазково</p><p>Вдовино</p></td>
        <td>При сумме заказа от 0-600 руб. - доставка 200 руб.</td>
        <td>При сумме заказа от 600 руб.</td>
    </tr>
    <tr>
        <td><p>Вересовка</p><p>Малая Елань</p><p>Максимовщина</p></td>
        <td>При сумме заказа от 0-700 руб. - доставка 250 руб.</td>
        <td>При сумме заказа от 700 руб.</td>
    </tr>
    <tr>
        <td><p>Байкальская (до ост. Баргузин)</p><p>Рабочее, ул. Баррикад</p><p>(до Казанского рынка)</p></td>
        <td>При сумме заказа от 0-800 руб. - доставка 300 руб.</td>
        <td>При сумме заказа от 800 руб.</td>
    </tr>
    <tr>
        <td><p>Топкинский</p><p>Зеленый</p><p>Лесной</p><p>Университетский</p><p>Первомайский</p><p>Студгородок</p><p>Академгородок</p><p>Кая</p><p>Синюшина гора</p></td>
        <td>При сумме заказа от 0-1000 руб. - доставка 400 руб.</td>
        <td>При сумме заказа от 1000 руб.</td>
    </tr>
    <tr>
        <td><p>Байкальская (после ост. Баргузин)</p><p>Рабочее, ул. Баррикад</p><p>(после Казанского рынка)</p></td>
        <td>При сумме заказа от 0-1100 руб. - доставка 150 руб.</td>
        <td>При сумме заказа от 1100 руб.</td>
    </tr>
    <tr>
        <td><p>Радужный</p><p>Приморский</p><p>Юбилейный</p><p>Ерши</p><p>Зеленый Берег</p><p>Солнечный</p><p>Луговое</p><p>Пивовариха</p><p>Аэропорт</p><p>п.Дзержинск</p><p>Мегет</p></td>
        <td>При сумме заказа от 0-1300 руб. - доставка 150 руб.</td>
        <td>При сумме заказа от 1300 руб.</td>
    </tr>
    <tr>
        <td><p>Марково</p><p>Молодежный</p><p>Шелехов</p><p>Смоленщина</p><p>Баклаши</p></td>
        <td>При сумме заказа от 0-2000 руб. - доставка 300 руб.</td>
        <td>При сумме заказа от 2000 руб.</td>
    </tr>
    </tbody>
</table>
<p>
    <strong style="line-height: 1.538em;"><span style="line-height: 1.538em;">Принимаем оплату по банковским картам&nbsp;</span></strong>
</p>