/*Правила работы с данным CSS-кодом:
1. Делите код на секции.
2. Правила должны быть организованы в алфавитном порядке.
3. Имя каждого селектора на новой строке (если правила применяются к нескольким селекторам сразу).
4. Одно правило - одна строка.
5. Проприетарные правила (т.е. правила «понятные» только определённым браузерам) пишутся после сразу соответствующего стандартного и отделяются одним Tab'ом.
6. Комментируйте код.
*/

/*CSS Reset from Eric Meyer*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
	html, body.html, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, /* b, */ u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody.html, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body.html {
		line-height: 1;
	}
	
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
/* Конец CSS Reset from Eric Meyer*/

/*А теперь возвращаем ряд стилей обратно — конец.*/

/* Цвета - начало */
/* 
Чёрный		- #222222 (основной текст)
Тёмно-серый	- #231f20 (заголовок слайдера)
Серый		- #666666
 - # (заголовки)
 		- #  (ссылки) 
*/
/* Цвета - конец */

/* Шрифты */
	/* Arial */
@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('fonts/alsrubl-arial-italic.eot');
  src: url('fonts/alsrubl-arial-italic.eot?#iefix') format('embedded-opentype'), 
	   url('fonts/alsrubl-arial-italic.woff') format('woff'),
	   url('fonts/alsrubl-arial-italic.ttf') format('truetype'),
	   url('fonts/alsrubl-arial-italic.svg#ALSRublArialItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('fonts/alsrubl-arial-bold.eot');
  src: url('fonts/alsrubl-arial-bold.eot?#iefix') format('embedded-opentype'),
	   url('fonts/alsrubl-arial-bold.woff') format('woff'),
	   url('fonts/alsrubl-arial-bold.ttf') format('truetype'), url('alsrubl-arial-bold.svg#ALSRublArialBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('fonts/alsrubl-arial-bolditalic.eot');
  src: url('fonts/alsrubl-arial-bolditalic.eot?#iefix') format('embedded-opentype'),
	   url('fonts/alsrubl-arial-bolditalic.woff') format('woff'),
	   url('fonts/alsrubl-arial-bolditalic.ttf') format('truetype'),
	   url('fonts/alsrubl-arial-bolditalic.svg#ALSRublArialBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
	/* /Arial */
	/* Tahoma */
@font-face {
  font-family: 'ALSRubl-Tahoma';
  src: url('fonts/alsrubl-tahoma-regular.eot');
  src: url('fonts/alsrubl-tahoma-regular.eot?#iefix') format('embedded-opentype'),
	   url('fonts/alsrubl-tahoma-regular.woff') format('woff'), 
	   url('fonts/alsrubl-tahoma-regular.ttf') format('truetype'), 
	   url('fonts/alsrubl-tahoma-regular.svg#ALSRublTahomaItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ALSRubl-Tahoma';
  src: url('fonts/alsrubl-tahoma-bold.eot');
  src: url('fonts/alsrubl-tahoma-bold.eot?#iefix') format('embedded-opentype'), 
	   url('fonts/alsrubl-tahoma-bold.woff') format('woff'), 
	   url('fonts/alsrubl-tahoma-bold.ttf') format('truetype'), 
	   url('fonts/alsrubl-tahoma-bold.svg#ALSRublTahomaItalic') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ALSRubl-Arial';
  src: url('fonts/alsrubl-arial-regular.eot');
  src: url('fonts/alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'),
	   url('fonts/alsrubl-arial-regular.woff') format('woff'), 
	   url('fonts/alsrubl-arial-regular.ttf') format('truetype'), 
	   url('fonts/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
	/* /Tahoma */
	/* Verdana */
@font-face {
  font-family: 'ALSRubl-Verdana';
  src: url('fonts/alsrubl-verdana-regular.eot');
  src: url('fonts/alsrubl-verdana-regular.eot?#iefix') format('embedded-opentype'),
	   url('fonts/alsrubl-verdana-regular.woff') format('woff'),
	   url('fonts/alsrubl-verdana-regular.ttf') format('truetype'),
	   url('fonts/alsrubl-verdana-regular.svg#ALSRublRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ALSRubl-Verdana';
  src: url('fonts/alsrubl-verdana-italic.eot');
  src: url('fonts/alsrubl-verdana-italic.eot?#iefix') format('embedded-opentype'),
	   url('fonts/alsrubl-verdana-italic.woff') format('woff'),
	   url('fonts/alsrubl-verdana-italic.ttf') format('truetype'),
	   url('fonts/alsrubl-verdana-italic.svg#ALSRublItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ALSRubl-Verdana';
  src: url('fonts/alsrubl-verdana-bold.eot');
  src: url('fonts/alsrubl-verdana-bold.eot?#iefix') format('embedded-opentype'),
	   url('fonts/alsrubl-verdana-bold.woff') format('woff'),
	   url('fonts/alsrubl-verdana-bold.ttf') format('truetype'),
	   url('fonts/alsrubl-verdana-bold.svg#ALSRublBold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ALSRubl-Verdana';
  src: url('fonts/alsrubl-verdana-bolditalic.eot');
  src: url('fonts/alsrubl-verdana-bolditalic.eot?#iefix') format('embedded-opentype'),
	   url('fonts/alsrubl-verdana-bolditalic.woff') format('woff'),
	   url('fonts/alsrubl-verdana-bolditalic.ttf') format('truetype'),
	   url('fonts/alsrubl-verdana-bolditalic.svg#ALSRublBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
	/* /Verdana */
/* /Шрифты */

/*Общие правила - начало.*/
.clear {/*Сброс для float.*/
	font-size:0;
	height:0; 
	clear: both;
	line-height:0;
}
a {/*Ссылки.*/
	color: #ec7c21;
	outline: none;
	text-decoration: underline;
}
a:hover {/*Ссылки - наведение.*/
	color: #ff7200;
	text-decoration: none ;
}
a.active{
	cursor: default;
}
/*Общие правила - конец.*/


/*Заголовки и абзац - начало.*/
h1{/*Заголовок 1-го уровня.*/
	font-size: 24px;
	color: #3a3a3a;
	font-weight:bold;
	margin-bottom:45px;
    text-transform: uppercase;
}
h2{/*Заголовок 2-го уровня.*/
	font-size: 24px;
	color: #3a3a3a ;
	font-weight:bold;
	margin-bottom:35px;
}
h3{/*Заголовок 3-го уровня.*/
	font-size: 14px;
	color: #3a3a3a;
}
li,/*Список. Стиль текста.*/
p{/*Абзац. Стиль текста.*/
	font-size: 14px;
	font-style: normal;
	line-height: 1.4;/*Интерлиньяж.*/
	color: #3a3a3a;
}
/*Заголовки и абзац - конец.*/

/* Крупные блоки */
html {
	height: 100%;/*Прижимаем подвал книзу.*/
	position: relative;/*Прижимаем подвал книзу.*/
}
body.html {
	font-family: Arial Narrow;
	font-size:  11px;
	position: relative;/*Прижимаем подвал книзу.*/
	line-height: 1.4;
	width: 100%;
	background: #ffffff;
	min-height:100%;
	height: 100%;
}
.content-box,
.footer-box,
.head-box{
	overflow:hidden;
	margin:0 auto;
	width:1000px;
}
.content-main {/*Задаём размеры блока с контентом + выравниваем по центру.*/
	min-height: 100%;/*Прижимаем подвал книзу.*/
	position:relative;
}
.no-sidebars .content-wrapper .content{
	float:none;
	width:100%;
}
.one-sidebar .content-wrapper .region-content .content{
	float:left;
	width:740px;
}
.one-sidebar .sidebar{
	width: 230px;
	float:left;
	margin-left:30px;
}
/* Конец Крупные блоки */
/* Корзина */
.commerce-line-item-views-form .views-field-field-img {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 75px;
}
/* .commerce-line-item-views-form input.delete-line-item {
    margin: 0;
} */
 #block-commerce-cart-cart .view-commerce-cart-block .views-field-edit-delete {
    position: absolute;
    top: 0;
/*     right: 23px!important; */
} 
.commerce-line-item-views-form input.delete-line-item {
	cursor: pointer;
}
.view-commerce-cart-block .views-field-quantity {
    display: block;
    width: 39px;
	height: 37px;
    background-color: #ff6600;
    border: 2px solid #fff;
    border-radius: 20px;   
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
	color: #ffffff;
    white-space: normal;
    position: absolute;
    top: 26px;
    left: 128px;
}
.view-commerce-cart-block .views-field-quantity .field-content {
    display: block;
    position: absolute;
    top: 11px;
    left: 9px;
}
	/* Конец Корзина */
	
/* ПОДВАЛ */
.wrapper-footer_empty{/*Прижимаем footer вниз.*/
	width: 1000px; 
	margin: 0 auto;
	height: 0px;
	clear: both;	
} 
#footer {
	position: absolute;/*Прижимаем footer вниз.*/
	top: 100%;/*Прижимаем footer вниз.*/
	min-height: 100px;/*Прижимаем footer вниз.*/
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}
#footer .footer-box {	
	width: 1000px; 
	margin: 0 auto; /*Прижимаем footer вниз.*/
}
/*Главное меню*/
#block-system-main-menu ul li,
#block-menu-menu-catalog-menu ul li{
	display:inline-block;
}
/*	/Главное меню*/
 .img-left,
.all_except_img{
	float:left;
}
/*оформление заказа*/
.page-checkout #commerce-checkout-form-checkout  label{
	float:left;
	width:150px;
}
.page-checkout #commerce-checkout-form-checkout  input.form-text{
	width:376px;
}
.page-checkout #commerce-checkout-form-checkout .form-type-textarea  textarea{
	width: 380px;
}
.page-checkout #commerce-checkout-form-checkout  #edit-buttons{
	margin-left:150px;
}
.page-checkout #commerce-checkout-form-checkout  #edit-buttons .form-submit{
	margin-right:10px;
}
.page-checkout #commerce-checkout-form-checkout .fieldset-legend{
	font-weight: bold;
}
.page-user-orders #block-system-main table{
	width:33%;
}
.page-user-orders #block-system-main table tr{
	background-color: transparent;
}
.page-user-orders #block-system-main table tr .views-field-quantity{
	text-align: center;
}
.page-user-orders #block-system-main  .field-name-commerce-order-total .commerce-price-formatted-components{
	margin:10px 0;
}
/* .view-catalog .views-row .all_except_img .field-name-commerce-price .field-item:after,
.view-catalog .views-row .all_except_img .field-name-field-product .form-radios .form-item .rub:after{
	content:"Р";
	float:right;
	width:15px;
	height:15px;
	margin-left:5px;
	font-family: 'ALSRubl-Arial';
	font-weight:normal;
} */
.commerce-line-item-views-form .views-field-commerce-total .field-content{
	display:inline-block;
}
/* .commerce-line-item-views-form .views-field-commerce-total .field-content:after{
	content:"Р";
	float:right;
	width:10px;
	height:10px;
	margin-left:2px;
	font-family: 'ALSRubl-Arial';
	font-weight:normal;
} */