/* Overlay */
#simplemodal-overlay {
    background-color: #aaaaaa;
    cursor: wait;
}

/* Container */
#simplemodal-container {
    /*width: 860px;*/
    /*height: 600px;*/
}

#simplemodal-container a.modalCloseImg {
    background: url('x.png') no-repeat;
    width: 25px;
    height: 29px;
    display: inline;
    z-index: 3200;
    position: absolute;
    top: -15px;
    left: -18px;
    cursor: pointer;
}

#simplemodal-container #basicModalContent {

}

#simplemodal-container {
    width: 850px;
    /*height: 600px;*/
}
#bye-popup {
    background: #ffffff;
    padding: 60px 25px 70px;
    /*width: 810px;*/
    /*height: 500px;*/
}
#bye-popup .popup-content {
    background: #f5f4fc;
    padding: 30px 30px 20px 0;
    width: 770px;
}
#bye-popup .popup-content .top {
    text-align: center;
}
#bye-popup .popup-content .top h2 {
    color: #f24941;
    font-size: 24px;
    margin: 0 0 3px 0;
    font-weight: normal;
}
#bye-popup .popup-content .form-wrapper {
    padding-left: 385px;
    background: url("popup-cake2.png") no-repeat 0 -10px;
    min-height: 245px;
}
#bye-popup .popup-content .form-item {
    width: 400px;
}
#bye-popup .popup-content .form-item input {
    width: 365px;
}
#bye-popup .popup-content .submit {
    display: block;
    width: 135px;
    color: #ffffff;
    font-size: 16px;
    background: #f24941;
    border: none;
    font-family: 'PT Sans Narrow';
    padding: 15px 0;
    border-bottom: 4px solid #d0130a;
    cursor: pointer;
}

#simplemodal-container a.modalCloseImg {
    background: url('popup-close.png') no-repeat;
    width: 19px;
    height: 19px;
    display: inline;
    position: absolute;
    top: 10px;
    left: auto;
    right: 10px;
}